<!-- Footer starts -->
<!-- <footer>
    Footer here
</footer> -->
<!-- Footer ends -->
<!-- Java Script
================================================== -->
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/plugins.js"></script>
<script src="/javascripts/main.js"></script>

</body>
</html>