<!DOCTYPE html>
<!-- Is the below additional comments required ?? -->
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<!-- Head starts -->
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/vendor.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


    <!-- script
    ================================================== -->
    <script src="/javascripts/modernizr.js"></script>
    <script src="/javascripts/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/images/output-onlinepngtools.png" type="image/x-icon">
    <link rel="icon" href="/images/output-onlinepngtools.png" type="image/x-icon">

</head>
<!-- Head ends -->

<body id="top">
    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a href="/">
                <img class="site-logo" src="/images/output-onlinepngtools.png">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>

                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="/#home" title="home">Home</a></li>
                    <li><a class="smoothscroll"  href="/#about" title="about">About</a></li>
                    <li><a class="smoothscroll"  href="/#blogs" title="blogs">Blogs</a></li>
                    <!--<li><a class="smoothscroll"  href="/#events" title="events">Events</a></li>-->
                    <li><a class="smoothscroll"  href="/#contact" title="works">Join Us</a></li>
                </ul>


                <!--<ul class="header-nav__social">
                    <li>
                        <a href="https://www.instagram.com/hwtechclub/?hl=en"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>-->

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Nav</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->
