<%- include("partials/header", {title:title}); %>

<!-- home
    ================================================== -->
<section id="home" class="s-home target-section" data-parallax="scroll" data-natural-width=3000 data-natural-height=2000
    data-position-y=center>
    <video autoplay muted loop id="myVideo">
        <source src="/images/pjct_07.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    <div class="home-content">

        <div class="row home-content__main">

            <h3 class="headgreen">Welcome to HW Tech Club!</h3>

            <div class="middle-header">
                <div class="main">
                    <h1 class="aqua"></h1>
                    <div class="line"></div>
                    <p class="headgreen">“The future belongs to those who beleive in the beauty of their dreams”</p>
                </div>
            </div>

            <div class="home-content__buttons">
                <a href="#contact" class="smoothscroll btn btn--stroke">
                    Join Tech Club! <i class="fa fa-user-plus"></i>
                </a>
                <a href="#about" class="smoothscroll btn btn--stroke">
                    More About Us <i class="fa fa-info"></i>
                </a>
            </div>

        </div>

        <div class="home-content__scroll">
            <a href="#about" class="scroll-link smoothscroll">
                <span>Scroll Down</span>
            </a>
        </div>

        <div class="home-content__line"></div>

    </div> <!-- end home-content -->


    <ul class="home-social">
        <li>
            <a href="https://www.instagram.com/hwtechclub/?hl=en"><i class="fa fa-instagram"
                    aria-hidden="true"></i><span>Instagram</span></a>
        </li>
        <li>
            <a href="https://github.com/Tech-club"><i class="fa fa-github"
                    aria-hidden="true"></i><span>github</span></a>
        </li>
    </ul>
    <!-- end home-social -->

</section> <!-- end s-home -->


<!-- about
    ================================================== -->
<section id='about' class="s-about">

    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h1 class="display-1 display-1--light">Welcome to <br> HW Tech Club Website</h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row about-desc" data-aos="fade-up">
        <div class="col-full">
            <p>
                "There is an art to science and science in art; the two are not
                enemies. but different aspects of the whole." Issac Asimov.We focus on creating
                innovative ideas/products.
            </p>
        </div>
    </div> <!-- end about-desc -->

    <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">

        <div class="col-block stats__col ">
            <div class="stats__count">107</div>
            <h5>Members</h5>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">3</div>
            <h5>Projects underway</h5>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">2</div>
            <h5>Teams</h5>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">10</div>
            <h5>Insane people</h5>
        </div>

    </div> <!-- end about-stats -->

    <div class="about__line"></div>

</section> <!-- end s-about -->


<!-- services
    ================================================== -->
<!--<section id='services' class="s-services">

    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Our Teams</h3>
            <h1 class="display-2">Insane is good
            </h1>
        </div>
    </div> <!-- end section-header

    <div class="row services-list block-1-3 block-tab-full">

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <img src="https://www.economist.com/sites/default/files/20180106_BLP512.jpg" />
            </div>
            <div class="service-text">
                <h3 class="h2">Hardware Team</h3>
                <p> Incharge of intergrating various physical layer based on project requirements.
                </p>
                <!--<a href="http://rocket.techclub.team" class="btn full-width" style="background: black">View website</a>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <img
                    src="https://zurb-dot-com-prod.s3.amazonaws.com/asset/512/raw_2F4829de3f-bb72-43e8-ab45-f073446ee76b_2Fimage00.png" />
            </div>
            <div class="service-text">
                <h3 class="h2">Design Team</h3>
                <p>Major focus on UI/UX design and also a mojor focus on industrial design.
                </p>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <img src="https://www.msbiblog.com/wp-content/uploads/2017/07/automation-diagram.png" />
            </div>
            <div class="service-text">
                <h3 class="h2">Automation/Back-end Team</h3>
                <p>Focus on automating the solutions for some on the most important problems.
                </p>
            </div>
        </div>


    </div> <!-- end services-list -->

</section> <!-- end s-services -->



<!-- events
    ================================================== -->
    <section id='blogs' class="s-about" data-parallax="scroll" style="background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url('https://www.ureducation.com/wp-content/uploads/2018/01/git.jpg'); background-repeat: no-repeat;
    background-size: cover;">
        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-1 display-1--light">Blogs <br> </h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <p>
                    The blogs is our simple way to say express yourself and what you feel about a certain concept.
                </p>
                <a href="https://blog.hwtech.club" class="btn " style="background: black; color: #e8990a;border-top-color: #e8990a;border-right-color: rgb(197, 197, 197);border-bottom-color: #e8990a;border-left-color: rgb(197, 197, 197);"> View Blogs </a>
            </div>
        </div> <!-- end about-desc -->


        <div class="about__line"></div>

    </section> <!-- end s-about -->
<section id='events' class="s-about" data-parallax="scroll" style="background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url('https://www.bsr.org/images/heroes/tech-against-trafficking-hero.jpg'); background-repeat: no-repeat;
background-size: cover;">
    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h1 class="display-1 display-1--light">Events <br> </h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row about-desc" data-aos="fade-up">
        <div class="col-full">
            <p>
                Stay in touch with events from Tech Club , MACS (Mathematics and Computer Sciences)
            </p>
            <a href="/events" class="btn " style="background:black; color:#04a8fa;border-top-color: #0087cc; border-right-color: rgb(197, 197, 197);
            border-bottom-color: #0087cc;
            border-left-color: rgb(197, 197, 197);"> View Events </a>
        </div>
    </div> <!-- end about-desc -->


    <div class="about__line"></div>

</section> <!-- end s-about -->


<!-- contact
    ================================================== -->
<section id="contact" class="s-contact">

    <div class="overlay"></div>
    <div class="contact__line"></div>

    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Contact Us</h3>
            <h1 class="display-2 display-2--light">Join the HW Tech Club today!</h1>
            <h3 class="subhead">Please fill out the Application Form below</h3>

        </div>
    </div>

    <div class="row contact-content" data-aos="fade-up">

        <div class="contact-primary">

            <h3 class="h6">Application Form</h3>

            <form name="contactForm" method="post" action="https://formspree.io/akilanselva@hotmail.com"
                novalidate="novalidate">
                <fieldset>

                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Your Name" value=""
                            minlength="2" required aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value=""
                            required aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="number" id="contactSubject" placeholder="Mobile Number"
                            value="" required class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="10"
                            cols="50" required aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Submit</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>

            <!-- contact-warning -->
            <div class="message-warning">
                Something went wrong. Please try again.
            </div>

            <!-- contact-success -->
            <div class="message-success">
                Your message was sent, thank you!<br>
            </div>

        </div> <!-- end contact-primary -->

        <div class="contact-secondary">
            <div class="contact-info">

                <h3 class="h6 hide-on-fullwidth">Contact Info</h3>

                <div class="cinfo">
                    <h5>Where to Find Us</h5>
                    <p>
                        Heriot Watt University,<br>
                        Dubai Academic City, Dubai,<br>
                        UAE
                    </p>
                </div>

                <div class="cinfo">
                    <h5>Email Us At</h5>
                    <p>
                        as251@hw.ac.uk
                    </p>
                </div>

                <div class="cinfo">
                    <h5>Call Us At</h5>
                    <p>
                        Mobile 1: (+971) 52 7547820
                    </p>
                </div>

                <ul class="contact-social">
                    <h5>Connect via Social Media!</h5>
                    <a href="https://www.instagram.com/hwtechclub/?hl=en"><i class="fa fa-instagram"
                            aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end contact-social -->

            </div> <!-- end contact-info -->
        </div> <!-- end contact-secondary -->

    </div> <!-- end contact-content -->

</section> <!-- end s-contact -->


<!-- footer
    ================================================== -->
<!---<footer>

        <div class="row footer-main">

            <div class="col-six tab-full left footer-desc">

                <div class="footerlogo"><img src="/images/output-onlinepngtools.png" ></div>
                Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
            </div>

            <div class="col-six tab-full right footer-subscribe">

                <h4>Get Notified</h4>
                <p>Quia quo qui sed odit. Quaerat voluptas autem necessitatibus vitae aut non alias sed quia. Ut itaque enim optio ut excepturi deserunt iusto porro.</p>

                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">
                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                        <input type="submit" name="subscribe" value="Subscribe">
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div>

            </div>

        </div>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright HW Tech Club 2019</span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>

    </footer> -->


<!-- photoswipe background
    ================================================== -->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div><button class="pswp__button pswp__button--close"
                    title="Close (Esc)"></button> <button class="pswp__button pswp__button--share"
                    title="Share"></button> <button class="pswp__button pswp__button--fs"
                    title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom"
                    title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button
                class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>

    </div>

</div> <!-- end photoSwipe background -->


<!-- preloader
    ================================================== -->
<div id="preloader">
    <div id="loader">
        <div class="line-scale-pulse-out">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<% include partials/footer %>
