<%- include("partials/header", {title:title}); %>
<section id='services' class="s-services">

    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Progress</h3>
            <h2 class="display-2">Week 1 
            </h2>
        </div>
    </div> <!-- end section-header -->
    
    <div class="row services-list block-1-3 block-tab-full">

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-text">
                <h3 class="h2">Rocket Team</h3>
                <a href="/progress/rocket-team" class="btn--primary">View memo</a>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up"> 
            <div class="service-text">
                <h3 class="h2">Unity for Education</h3>
                <a href="/progress/unity-for-education" class="btn--primary">View memo</a>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-text">
                <h3 class="h2">Web Team</h3>
                <a href="/progress/web-team" class="btn--primary">View memo</a>
            </div>
        </div>
    </div> <!-- end services-list -->
    <br>
    <br>
    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">19/12/18</h3>
            <h2 class="display-2">Week 2 
            </h2>
        </div>
    </div> <!-- end section-header -->
    <div class="row services-list block-1-3 block-tab-full">

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-text">
                <h3 class="h2">Rocket Team</h3>
                <a href="/progress/rocket-team" class="btn--primary">View memo</a>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up"> 
            <div class="service-text">
                <h3 class="h2">Unity for Education</h3>
                <a href="/progress/unity-for-education" class="btn--primary">View memo</a>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-text">
                <h3 class="h2">Web Team</h3>
                <a href="/progress/web-team" class="btn--primary">View memo</a>
            </div>
        </div>
    </div> <!-- end services-list -->
</section> <!-- end s-services -->


<% include partials/footer %>